/* font style */
.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header style */
.header{
    background-image: url(../images/developer.png) ,url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight:  800px;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
} 
nav ul{
    display: flex;
}
/* color */
.dark-2{
    color: #474747;
}

/* button style */
.btn-primary{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
     border: none;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
 .secondery-bg{
    background-color: #FFF8F3;
 }
 /* skills section style */
  .skills-container{
    display: flex;
    gap: 24px;
     
  }
  .skill {
    padding: 151px 33px 30px 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-top: 50px;
  }
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-grettings{
font-size: 45px;
font-weight: 600;
}
.banner-title{
font-weight: bold;
font-size: 85px;
}
.banner-description{
font-size: 18px;
}
.profile-pic-er-image{
    width: 584px;
    height: 676px;
    margin-left:  300px;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 131px 157px;
    text-align: center;
   
     
}
/* about item style */
.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* resume style */
.resume-container{
    display: flex;
    gap: 24px;
  
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}
.experience-title{
color: #474747;
font-size: 25px;
font-weight: bold;
}
.experience-sub-title{
font-size: 20px;
font-weight: 700;
color: #757575;
margin-top: 20px;
}
.experience-description{
color: #757575;
font-size: 16px;
 ;
}
.resume-download-cv{
    margin-top: 50px;
}